*{
    margin: 0;
    box-sizing: border-box;
}

input{
    background-color: rgb(147, 255, 255);
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
}
button {
    background-color: rgb(147, 255, 255);
    width: 200px;
    height: 20px;
    margin-top: 10px;
}
p{
    margin-top: 10px;
}
h1{
    display: flex;
    justify-content: center;  
}
.form{
    display: flex;
    justify-content: center;
}
.warning{
    color: rgb(255, 56, 56);
}
table {
    border: 3px solid rgb(0, 0, 0);
  }
th,
td{
    border: 3px solid rgb(0, 0, 0);
}
#tb{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table_data{
    margin-top: 10px;
}