* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    max-width: 500px;
}

#statements {
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 500px;
}
#table_h1{
    text-align: center;
    font-size: 28px;
    position: relative;
}

#statements_h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    position: relative;
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"],
button {
    width: 100%;
    padding: 15px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #ececec;
    padding: 15px;
}

#violation {
    background-color: #ececec;
    height: 120px;
}

#btnSend {
    background-color: #667eea;
    color: white;
}

#btnAdd {
    margin-top: 10px;
    background-color: #667eea;
    color: white;
}

.warning {
    color: #ff4757;
    font-size: 15px;
}

table {
    border: 3px solid rgb(0, 0, 0);
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

#tb {
    display: flex;
    flex-direction: column;
    align-items: center;
}