* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(#ff9393 0%, #ffffff 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#regist, #avtoris {
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    position: relative;
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    color: #3b3b3b;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"] {
    width: 100%;
    padding: 15px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #ececec;
}

#btn_reg {
    background-color: #667eea;
    color: white;
}

#btn_avto_go {
    background-color: #66eaa8;
}

#btn_avto {
    background-color: #66eaa8;
}

#FIO_err,
#phone_number_err,
#email_err,
#login_reg_err,
#password_reg_err,
#password_reg_err2,
#login_avto_err,
#password_avto_err,
#undefined_err {
    color: #ff4757;
    font-size: 15px;
}

#registered {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}